body {
  background: #1C2833;
  color: #AAB7B8;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

h1, h2, h3 {
  font-weight: 800;
}

nav a {
  color: #AAB7B8;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

nav#toc {
  flex: 1 auto;
  min-width: 16rem;
  width: 16rem;
  overflow-y: auto;
  background: #2E4053;
  padding: 1rem;
  border-right: 1px solid #496684;
}
nav#toc ul {
  list-style: none outside;
  margin: 0 0 1rem 0;
  padding: 0;
}
nav#toc li {
  margin: 0;
  padding: 0;
}
nav#toc ul ul li {
  padding-left: 1rem;
}
nav#toc > ul > li > a {
  font-weight: 800;
}

#content {
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main {
  margin: 0 auto;
  max-width: 55rem;
  width: stretch;
  padding: 1rem;
  flex: 1 100%;
}
main a {
  color: #F4F6F6;
}

pre {
  overflow-x: auto;
}

.nav-outer {
  border-top: 1px solid #496684;
  flex: 1 auto;
  background: #2E4053;
}

nav#sitenav {
  margin: 0 auto;
  max-width: 55rem;
  display: flex;
  flex-direction: row;
}
nav#sitenav > * {
  flex: 1 100%;
  max-width: 28rem;
  padding: 1rem;
}

.nav-prev {
  text-align: left;
}
.nav-prev::before {
  font-weight: 800;
  text-transform: lowercase;
  font-variant: small-caps;
  content: "Previous";
  display: block;
}
.nav-next {
  text-align: right;
}
.nav-next::before {
  font-weight: 800;
  text-transform: lowercase;
  font-variant: small-caps;
  content: "Next";
  display: block;
}

code {
  white-space: pre-wrap;
}

$if(highlighting-css)$
/* CSS for syntax highlighting */
$highlighting-css$
$endif$
